<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }

        .product {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
        }

        .product img {
            width: 100%;
            height: 200px;
            max-height: 200px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .product-details p {
            margin: 5px 0;
        }

        .delete-button {
            background-color: #ff4d4d;
            border: none;
            color: white;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .delete-button:hover {
            background-color: #ff3333;
        }

        #delete-all-button,
        #finalize-purchase-button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }

        #delete-all-button:hover,
        #finalize-purchase-button:hover {
            background-color: #0056b3;
        }

        p.no-items {
            text-align: center;
            color: #666;
            font-size: 18px;
            margin-top: 20px;
        }

        .botones {
            display: flex;
            justify-content: space-around;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Mi Tienda Online</a>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a href="/realtimeproducts" class="navbar-link">Productos en tiempo real</a>
                </li>
                <li class="navbar-item">
                    <a href="/profile" class="navbar-link">Mi Perfil</a>
                </li>
                <li class="navbar-item">
                    <a href="/cart" class="navbar-link">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Carrito de Compras</h1>
    <div class="container">
        {{#if cartData}}
        {{#each cartData}}
        <div class="product">
            <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}">
            <div class="product-details">
                <p id="product-id"><strong>ID del Producto:</strong> {{this.product._id}}</p>
                <p id="product-name"><strong>Nombre:</strong> {{this.product.title}}</p>
                <p id="product-description"><strong>Descripción:</strong> {{this.product.description}}</p>
                <p id="product-category"><strong>Categoría:</strong> {{this.product.category}}</p>
                <p id="product-price"><strong>Precio:</strong> {{this.product.price}}</p>
                <p id="product-quantity"><strong>Cantidad:</strong> {{this.quantity}}</p>
                <button class="delete-button" data-product-id="{{this.product._id}}">Eliminar</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p class="no-items">No hay productos en el carrito</p>
        {{/if}}
    </div>

    <div class="botones">
        <button id="delete-all-button">Eliminar Todos los Productos</button>
        <form action="/cart/{{userId}}/purchase" method="post">
            <button id="finalize-purchase-button">Finalizar Compra</button>
        </form>
    </div>
</body>

</html>







<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    //generar ticket
    document.getElementById('finalize-purchase-button').addEventListener('click', function () {
        const userId = event.target.dataset.userId;
        window.location.href = `/cart/${userId}/purchase`;
    });
    //fin generar ticket

    //eliminar 1 producto
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', async (event) => {
            try {
                const productId = event.target.dataset.productId;
                const userId = event.target.dataset.userId;

                const response = await fetch(`/cart/{{userId}}/products/${productId}`, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    Swal.fire('Producto Eliminado', 'El producto fue eliminado correctamente del carrito', 'success');
                    location.reload();
                } else {
                    alert('Error al eliminar producto del carrito');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
    //fin eliminar 1 producto

    //eliminar todos los productos
    document.getElementById('delete-all-button').addEventListener('click', async () => {
        try {
            const response = await fetch("/cart/{{userId}}", {
                method: 'DELETE',
            });

            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: 'Todos los productos han sido eliminados del carrito correctamente',
                    confirmButtonText: 'Aceptar'
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al eliminar todos los productos del carrito',
                    confirmButtonText: 'Aceptar'
                });
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
    //fin eliminar todos los productos

</script>
</body>

</html>