<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shopping</title>
    <style>
        body {
            font - family: 'Segoe UI', Tahoma, Geneva, Verdana, sans - serif;
            background - color: #f9f9f9;
            margin: 0;
            padding: 20px;
            font - size: 16px;
        }

        .navbar-item {
            padding - bottom: 5px;
        }

        .menu-toggle {
            display: block;
            width: 30px;
            height: 30px;
            background: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            z - index: 2;
        }

        .menu-toggle span {
            display: block;
            width: 100 %;
            height: 2px;
            background - color: #fff;
            position: absolute;
            left: 0;
            transition: transform 0.3s ease;
        }

        .menu-toggle span:nth-child(1) {
            top: 0;
        }

        .menu-toggle span:nth-child(2) {
            top: 50 %;
            transform: translateY(-50 %);
        }

        .menu-toggle span:nth-child(3) {
            bottom: 0;
        }

        .navbar-menu.mobile {
            display: block;
            position: absolute;
            top: 12%;
            left: 67%;
            width: 200px;
            background-color: #f8f9fa;
            padding: 15px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            text-align: end;
        }


        @media screen and (min-width: 320px) {
            .navbar-menu {
                display: none;
            }

            .menu-toggle {
                display: block;
            }

            .button-add {
                width: 40px;
                height: 40px;
            }

            .button-del {
                width: 40px;
                height: 40px;
            }

            .navbar-menu.mobile {
                width: 25%;
                left: 59%;
                top: 10%;
            }
        }

        @media screen and (min-width: 375px) {
            .navbar-menu.mobile {
                left: 61%;
            }
        }

        @media screen and (min-width: 425px) {
            .navbar-menu.mobile {
                left: 63%;
            }
        }

        @media screen and (min-width: 768px) {
            .navbar-menu.mobile {
                left: 68%;
                top: 10%;
            }

            .menu-toggle span {
                display: none;
            }

            .navbar-menu {
                display: flex;
            }
        }

        h1 {
            color: #333;
        }

        .ul {
            padding: 0;
        }

        .li {
            margin-bottom: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            list-style: none;
        }

        .li:hover {
            transform: translateY(-5px);
        }

        p {
            margin: 0;
            margin-bottom: 10px;
        }

        .title {
            font-weight: bold;
            color: #333;
        }

        .toggle-button {
            cursor: pointer;
            display: inline-block;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            transition: background-color 0.3s;
        }

        .toggle-button:hover {
            background-color: #0056b3;
        }

        .products {
            display: none;
            padding-left: 20px;
            list-style-type: none;
        }

        .products.visible {
            display: block;
        }

        .products li {
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        .products li:first-child {
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
    </style>


</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Mi Tienda Online</a>
            <div class="menu-toggle" onclick="toggleMenu()">
                <span>&#9776;</span>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a href="/realtimeproducts" class="navbar-link">Productos</a>
                </li>
                <li class="navbar-item">
                    <a href="/profile" class="navbar-link">Mi Perfil</a>
                </li>
                <li class="navbar-item">
                    <a href="/cart" class="navbar-link">Carrito</a>
                </li>
                <li class="navbar-item">
                    <a href="/shopping" class="navbar-link">Mis Compras</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <h1>Mis Compras</h1>
    <ul class="ul">
        {{#each tickets}}
        <li class="li">
            <p><span class="title">Ticket ID:</span> <span>{{_id}}</span></p>
            <p><span class="title">Código de compra:</span> <span>{{code}}</span></p>
            <p><span class="title">Fecha de compra:</span> <span>{{purchase_datetime}}</span></p>
            <p><span class="title">Monto:</span> <span>${{amount}}</span></p>
            <p class="toggle-button">Mostrar Productos</p>
            <ul class="products">
                {{#each products}}
                <li>
                    <p><span class="title">Producto:</span> <span>{{this.title}}</span></p>
                    <p><span class="title">Precio x unidad:</span> <span>{{this.price}}</span></p>
                    <p><span class="title">Cantidad:</span> <span>{{this.quantity}}</span></p>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
    <script src="/js/toggle.js"></script>
    <script src="/js/myShopping.js"></script>

</body>

</html>