<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <style>
        body {
            font - family: 'Segoe UI', Tahoma, Geneva, Verdana, sans - serif;
            background - color: #f9f9f9;
            margin: 0;
            padding: 20px;
            font - size: 16px;
        }

        .navbar-item {
            padding - bottom: 5px;
        }

        .menu-toggle {
            display: block;
            width: 30px;
            height: 30px;
            background: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            z - index: 2;
        }

        .menu-toggle span {
            display: block;
            width: 100 %;
            height: 2px;
            background - color: #fff;
            position: absolute;
            left: 0;
            transition: transform 0.3s ease;
        }

        .menu-toggle span:nth-child(1) {
            top: 0;
        }

        .menu-toggle span:nth-child(2) {
            top: 50 %;
            transform: translateY(-50 %);
        }

        .menu-toggle span:nth-child(3) {
            bottom: 0;
        }

        .navbar-menu.mobile {
            display: block;
            position: absolute;
            top: 12%;
            left: 67%;
            width: 200px;
            background-color: #f8f9fa;
            padding: 15px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            text-align: end;
        }


        @media screen and (min-width: 320px) {
            .navbar-menu {
                display: none;
            }

            .menu-toggle {
                display: block;
            }

            .button-add {
                width: 40px;
                height: 40px;
            }

            .button-del {
                width: 40px;
                height: 40px;
            }

            .navbar-menu.mobile {
                width: 25%;
                left: 59%;
                top: 10%;
            }
        }

        @media screen and (min-width: 375px) {
            .navbar-menu.mobile {
                left: 61%;
            }
        }

        @media screen and (min-width: 425px) {
            .navbar-menu.mobile {
                left: 63%;
            }
        }

        @media screen and (min-width: 768px) {
            .navbar-menu.mobile {
                left: 68%;
                top: 10%;
            }

            .menu-toggle span {
                display: none;
            }

            .navbar-menu {
                display: flex;
            }
        }

        .profile-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 40px;
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            color: #333;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        h2 {
            color: #666;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        button {
            padding: 12px 24px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: #007bff;
            color: #fff;
        }

        button:hover {
            background-color: #0056b3;
        }

        .user-info {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding-top: 20px;
            margin-top: 20px;
        }

        .user-info p {
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Mi Tienda Online</a>
            <div class="menu-toggle" onclick="toggleMenu()">
                <span>&#9776;</span>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a href="/realtimeproducts" class="navbar-link">Productos</a>
                </li>
                <li class="navbar-item">
                    <a href="/profile" class="navbar-link">Mi Perfil</a>
                </li>
                <li class="navbar-item">
                    <a href="/cart" class="navbar-link">Carrito</a>
                </li>
                <li class="navbar-item">
                    <a href="/shopping" class="navbar-link">Mis Compras</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="profile-container">
        <h1>Perfil del Usuario</h1>
        <h2>Bienvenido, {{ user.first_name }} {{ user.last_name }}!</h2>
        {{#if isAdmin }}
        <h2>Eres administrador</h2>
        <div class="button-container">
            <form action="/users" method="get">
                <button>Ver lista de usuarios</button>
            </form>
        </div>
        {{else}}
        <div class="button-container">
            <button>
                <a href="/api/users/{{user._id}}/documents" class="btn">Subir archivos</a>
            </button>
        </div>
        <div class="button-container">
        </div>
        {{/if}}
        <div class="user-info">
            <h2>Tus datos son</h2>
            <p>Nombre: {{user.first_name}}</p>
            <p>Apellido: {{user.last_name}}</p>
            <p>Correo: {{user.email}}</p>
            <p>Edad: {{user.age}}</p>
        </div>
        <div class="button-container">
            <form action="/logout" method="POST">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </div>
    <script src="/js/toggle.js"></script>
</body>

</html>