<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }

        .user-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
        }

        .user-card h2 {
            margin-bottom: 10px;
        }

        .user-card p {
            margin: 5px 0;
        }

        .user-card button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
            width: 100%;
        }

        .user-card button:hover {
            background-color: #0056b3;
        }

        .title {
            text-align: center;
        }

        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination li a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #007bff;
            border-radius: 5px;
            color: #007bff;
        }

        .pagination li a:hover {
            background-color: #007bff;
            color: #fff;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1;
            border-radius: 5px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Mi Tienda Online</a>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a href="/realtimeproducts" class="navbar-link">Productos en tiempo real</a>
                </li>
                <li class="navbar-item">
                    <a href="/profile" class="navbar-link">Mi Perfil</a>
                </li>
                <li class="navbar-item">
                    <a href="/cart" class="navbar-link">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="title">{{title}}</h1>

    <div class="container">
        {{#each data.docs}}
        <div class="user-card">
            <p>{{this._id}}</p>
            <h2>{{this.last_name}}, {{this.first_name}}</h2>
            <p>Email: {{this.email}}</p>
            <p>Edad: {{this.age}}</p>
            <p>Rol: {{this.rol}}</p>
            <p>Última conexión:{{this.last_connection}}</p>
            <div class="dropdown">
                <button class="user-options">Opciones</button>
                <div class="dropdown-content">
                    <a href="#" class="change-role-btn" data-user-id="{{this._id}}">Cambiar de rol</a>
                    <a href="#" class="delete-user-btn" data-user-id="{{this._id}}">Eliminar usuario</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <nav aria-label="Paginación">
        <ul class="pagination">
            {{#if data.hasPrevPage}}
            <li class="page-item"><a class="page-link" href="/users?page={{data.prevPage}}">Anterior</a></li>
            {{/if}}
            {{#if data.hasNextPage}}
            <li class="page-item"><a class="page-link" href="/users?page={{data.nextPage}}">Siguiente</a></li>
            {{/if}}
        </ul>
    </nav>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const changeRoleButtons = document.querySelectorAll('.change-role-btn');

            changeRoleButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();

                    const userId = button.dataset.userId;

                    fetch(`/api/users/${userId}/changerole`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al cambiar el rol del usuario');
                            }
                            return response.json();
                        })
                        .then(data => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Cambio de rol exitoso',
                                text: 'El rol del usuario ha sido cambiado correctamente.',
                                confirmButtonText: 'Aceptar'
                            }).then(() => {
                                location.reload();
                            });
                        })
                        .catch(error => {
                            console.error('Error al cambiar el rol del usuario:', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Hubo un error al cambiar el rol del usuario. Por favor, inténtalo de nuevo más tarde.',
                                confirmButtonText: 'Aceptar'
                            });
                        });
                });
            });
        });


        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-user-btn');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    const userId = button.dataset.userId;
                    Swal.fire({
                        icon: 'warning',
                        title: '¿Estás seguro?',
                        text: 'Esta acción eliminará permanentemente al usuario. ¿Estás seguro de que quieres continuar?',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch(`/api/users/${userId}`, {
                                method: 'DELETE'
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Error al eliminar el usuario');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Usuario eliminado',
                                        text: 'El usuario ha sido eliminado correctamente.',
                                        confirmButtonText: 'Aceptar'
                                    }).then(() => {
                                        location.reload();
                                    });
                                })
                                .catch(error => {
                                    console.error('Error al eliminar el usuario:', error);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: 'Hubo un error al eliminar al usuario. Por favor, inténtalo de nuevo más tarde.',
                                        confirmButtonText: 'Aceptar'
                                    });
                                });
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>